body {
  background-color: #e4fde1;
  font-family: Raleway , sans-serif;
}

.header-container {
  background-color: #157145;
  display: flex;
  margin-bottom: 30px;
  width: 70em;
}

.header-container img {
  height: 64px;
  width: 247px;
}

.button-search {
  background-color: white;
  border-bottom: 1px solid #e1e5eb;
  border-end-end-radius: 14px;
  border-left: none;
  border-right: 1px solid #e1e5eb;
  border-start-end-radius: 14px;
  border-top: 1px solid #e1e5eb;
  color: #157145;
  cursor: pointer;
  font-size: 20px;
  margin-right: 70px;
  padding-right: 15px;
}

.button-cart {
  background-color: #157145;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.header-container input {
  border-bottom: 1px solid #e1e5eb;
  border-end-start-radius: 14px;
  border-left: 1px solid #e1e5eb;
  border-right: none;
  border-start-start-radius: 14px;
  border-top: 1px solid #e1e5eb;
  font-family: Raleway , sans-serif;
  font-size: large;
  height: 33px;
  margin-left: 70px;
  outline: none;
  width: 500px;
}

.search {
  align-self: center;
  display: flex;
}

.Categories {
  background-color: #157145;
  margin-top: 20px;
  width: 278px;
}

.list-categories {
  color: white;
  cursor: pointer;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 15px;
  padding-right: 200px;
}

.ItemCard {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 20px rgb(0, 0, 0.15);
  display: flex;
  flex-direction: column;
  margin-left: 74px;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  width: 400px;
}

.ItemCard p {
  font-weight: 700;
  margin: 20px;
}

.ItemCard span {
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
}

.add-cart-button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Raleway , sans-serif;
  font-size: 18px;
  height: 55px;
  width: 200px;
}

.ItemCard img {
  width: 100px;
}

.details {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  height: 55px;
  margin-left: 10px;
  padding-bottom: 5px;
  width: 55px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.category {
  width: 209px;
}

.MsgInicial {
  font-weight: 700;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap') ;
