.listOfCategories {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.CategoriesAndItens {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.ItemCard {
  border: 1px solid black;
  width: 400px;
}

.Header {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 0px;
}

.MsgInicial {
  display: flex;
  justify-content: center;
}
